@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
*{
margin: 0;
padding: 0;
}

#FirstSection
{
   width: 100%;
   height: 100vh;
}
.contactInfo
{
	width: 100%;
	height:7%;color: #fff;
	background:#000;
}
.contactInfoLeft
{
	width: auto;
	height: auto;
	text-align: left;
}
.contactInfoLeft span
{
	
   font-size: 16px;
   padding-top: 10%;
    color: red;
}
.contactInfoRight
{
	width: auto;
	height: auto;
	text-align: right;
}
.NavigationClass
{
	width: 100%;
	height: auto;
	color: #fff;
	background:red;
}
.navStyle li a
{
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;

  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}
.navStyle li a:hover
{
 border-bottom: 3px solid red;
}
.navStyle li a.active {
  border-bottom: 3px solid red;
}
.RealWedding
{
width: 100%;
height: 78.5vh;
    background-image: url('../image/deco/home-banner-1.jpg');
	background-position:center;
	background-size: cover;
    filter: blur(0.3px);
 opacity: 7;
 position: absolute;
}
.RealWeddingheading
{
	width: auto;
	height: auto;
	display: block;
	padding: 10px;
	text-align: center;
	justify-content: center;
	margin-top:15%;
}
.RealWeddingheading h3
{
 
 width: 100%;
 color: #fff;
 text-align: center;
 padding-top: 10px; 
 justify-content: center;
 font-weight: 600;
 font-size: 42px;
 letter-spacing: 2px;
 line-height: 1.5;
 font-family: Garamond;

}
/**/
#RealWeddingSearch
{
	width: 100%;
	height: 10vh;
	background: #000;
}
/**/
#RealWeddingSecond
{
 width: 100%;
 height: auto;
 padding-bottom: 20px;
 padding-top: 20px;
 background: #262626;
}
.RealWeddingMain-1
{
	width: 100%;
	height: auto;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 20px;
	
}
.CARD1
{
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	display: inline-block;
}
.CARD2 h5
{
	text-align: center;
	width: 100%
	font-size:50px;
	line-height: 50px;
	letter-spacing: 1.5;
    font-weight: 500;
	color: #000;
	letter-spacing: 2px;
	font-family: 'Great Vibes', cursive;
}
.CARD2 p
{
 width: 40%;
 margin-left:30%;
 padding: 10px;
 border: 1px solid red;
 text-align: center;
 justify-content: center;
}